html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* All below is for the banner and the size of iPhone XR (414 wide) */
.icons {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 255, 240, 0.23);
    display: flex;
    align-items: center;
    
    
}

.logo {
    width: 30vw;
    margin-top: 10%;
    margin-left: 114%;
    
   
}

.burger {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    left: 9vw;
    top: 6vw;
    cursor: pointer;

}
.cart {
    position: absolute;
    right: 5vw;
    top: 3vh;
    color: white;
    font-size: 2rem;
}

.shop {
    position: absolute;
    right: 20vw;
    top: 3vh;
    color: white;
    font-size: 2rem;

}

/* This is for the burger dropdown */
.menu {
    display: none;
    position: absolute;
}

.open {
    display: contents;
    position: absolute;
    

}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 8.5%;
    left: -8%;
    
    
}

.home{
    width: 20%;
    cursor: pointer;
    
}

i {
    cursor: pointer;
}

/* all above is for the banner */

.container {
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    position: relative;
}

.title {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 20%;
    width: 60%;


}

.strap {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 45%;
    width: 50%;
    

}

.bottle {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    width: 65%;
    margin-top: 70%;

}

.para1 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 150%;

}
.para2 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 165%;
}
.para3 { 
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 175%;
}
.para4 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 190%;
}


/* This is taken from the title above an replaced here. Same with strap2 and bottle 2 */
.title2 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 215%;
    
}
.para6 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 240%;
}

.strap2 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    margin-top: 255%;
    width: 50%;
}

.bottle2 {
    grid-column: 2;
    justify-self: center;
    position: absolute;
    width: 65%;
    margin-top: 270%;

}

p {
    font-size: 1.4rem;
    font-family: 'Diphylleia', serif;

}





/* All below is for the shop page only!! */

.shop2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    text-align:center;
}

/* Everything below here is for a screen size of a laptop and above */

@media screen and (min-width: 1280px) {
    .icons {
        width: 100%;
        height: 20%;
        background-color: rgba(0, 255, 240, 0.23);
        display: flex;
        align-items: center;
    }
    nav ul {
        list-style-type: none;
        position: absolute;
        top: 25%;
        left: 2%;
    }
    
    .home{
        width: 70%;
        cursor: pointer;
    }
}

/* everything below this line is for the scrolling and tghe ps come in from the side */


  
  .animate {
    opacity: 0; /* Initially hide the elements */
    transform: translatex(30%); /* Move the elements to the right (out of view) */
     /* Apply transition for smooth animation */
  }

  .animate-in {
    opacity: 1; /* Show the elements */
    transform: translateX(0); /* Move the elements to their original position */
    transition: opacity 0.8s, transform 1s;
  }

  
  
  
  
